<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Only redirect if not already in public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
php -S localhost:8000 -t public_html
